body {
    background: #fcfcfc;
    position: relative;
}

h1 {
    margin-top: 5px;;
    margin-bottom: -10px;
    font-size: 35px;
    float: left;


}

.title {
	width: 800px;
	height: 40px;
	margin: auto;
	}

button {
	float: right;
	top: 17px;
	position: relative;
	}

ul {
	list-style-type: none;
	text-align: center;

}

li  {
	display: inline-block;
}

#top-tags-div li  {
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgba(52, 52, 52, 1);
	font-weight: bold;
	padding: 8px;
	margin-right: 3px;
	margin-bottom: 8px;
	border-radius: 3px;
}

#top-tags-div li:hover  {
	box-shadow: 0px 1px 1px black;
}

#selected-tags-div li {
	border: 1px solid rgba(77, 71, 91, 1);
	background-color: rgba(77, 71, 91, 1);
	font-size: 12px;
	font-weight: bolder;
	color: white;
	padding: 8px;
	margin: 2px;
	border-radius: 3px;
	text-transform: uppercase;
}

#selected-tags-div li:hover {
		border: 1px inset #bf0d0d;
	}

#profiles-div {
	margin-top: 10px;
}

.error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#content {
	width: 800px;
	margin: auto;
	}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
html, body, #map-canvas { height: 300px; width:100%; margin: 0px; padding: 0px;}
